<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Valo</string>
	<key>CFBundleDisplayName</key>
	<string>Valo</string>
	<key>CFBundleIdentifier</key>
	<string>com.valo.Valo</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>valo</string>
	<key>CFBundleIconFile</key>
	<string>valo.icns</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Mikko Ronkainen</string>
</dict>
</plist>
